@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-item:after {
    content: "";
    position: absolute;
    background-color: #2B7FFF;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-item:hover:after {
    width: 100%;
}